<!DOCTYPE html>
<html>
<head>
	<title>订票系统</title>
{#	<link rel="stylesheet" href="../../static/style.css">#}
    <link rel="stylesheet" href="../../static/web_style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body onload="img_video()">
<div style="background: rgba(20,20,20,0.2);background-size: cover">

<div id="head">
    <div class="head_title">
        <h1>FLAY</h1>
    </div>
    <div class="navigation">
        <div id="horizontalTab">
            <ul id="navigation_list">
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.index') }}')"><span>网站首页</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.search') }}')"><span>机票查询</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.register') }}')"><span>会员注册</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.login') }}')"><span>会员登陆</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.personal_info') }}')"><span>会员中心</span></a>
            </ul>
        </div>
    </div>
    <div class="admin">
        <div class="sap_table">
            <div class="admin-table">
                <div class="admin-table-list">
                    <a class="admin-table-item" onclick=AdminSignIn()><span>管理员登录</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>


<div class="body_content">
    <div class="content_top"></div>
    <div class="content_left" >
        <div class="img_window" >
            <img id="img1" src="../../static/2.jpg">
        </div>
    </div>
    <div class="content_right">
        <div class="content_form">
            <form action="{{url_for('web.search')}}" method="post">
                <div class="from">
                    <h3>{{ form.depart_city.label}}</h3>
                    {{form.depart_city(class="input_from_city")}}
                </div>
                <div class="to">
                    <h3>{{form.arrive_city.label}}</h3>
                    {{form.arrive_city(class="input_to_city")}}
                </div>
                <div class="clear"></div>
                <div class="date">
                    <div class="depart">
                        <h3>{{form.depart_date.label}}</h3>
                        {{form.depart_date(class="depart_time",id="datepicker3",onfocus="this.value = '';",onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}",required="",style="width:400px")}}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                 <div class="single_double">
                     <h3>{{ form.single_double.label }}</h3>
                     {{ form.single_double }}
                 </div>
                <div class="index_form_submit">
                    <input id="index_submit" type="submit" value="搜索航班">
                </div>
            </form>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="bottom">
    <p>xxx公司机票预订系统</p>
    <p>版权所有@2019</p>
</div>

</div>




  <!--script for portfolio-->
<script src="../../static/jquery.min.js"> </script>
<script src="../../static/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript">
      $(document).ready(function () {
          $('#horizontalTab').easyResponsiveTabs({
              type: 'default', //Types: default, vertical, accordion
              width: 'auto', //auto or any width like 600px
              fit: true   // 100% fit in a container
          });
      });
</script>
<script type="text/javascript">
    function img_video() {
        setInterval("changeImg()",1500);
    }
    var i=1;
    function changeImg(){
        i++;
        document.getElementById("img1").src="../../static/"+i+".jpg";

        if(i==5) {
            i=0;
        }
    }
</script>

  <link rel="stylesheet" href="../../static/jquery-ui.css" />
  <script src="../../static/jquery-ui.js"></script>
  <script>
      $(function() {
          $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
      });

  </script>

  <script>
      $('.value-plus').on('click', function(){
          var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
          divUpd.text(newVal);
      });

      $('.value-minus').on('click', function(){
          var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
          if(newVal>=1) divUpd.text(newVal);
      });
  </script>
  <script>
	$(document).ready(function () {
		size_li = $("#myList li").size();
		x=1;
		$('#myList li:lt('+x+')').show();
		$('#loadMore').click(function () {
			x= (x+1 <= size_li) ? x+1 : size_li;
			$('#myList li:lt('+x+')').show();
		});
		$('#showLess').click(function () {
			x=(x-1<0) ? 1 : x-1;
			$('#myList li').not(':lt('+x+')').hide();
		});
	});
</script>
<script>
    function AdminSignIn() {
	    window.location.replace('{{ url_for('admin.login') }}');
    }
</script>
<!-- //load-more -->
</body>
</html>