<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="../../static/VIPstyle.css">
</head>
<body>
<div class="VIPhead">
    <h1>用户中心</h1>
</div>
<div class="VIPheadtitle">
    <div class="menutap">
        <ul class="menulist">
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.index') }}')"><span>网站首页</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.search') }}')"><span>机票查询</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.register') }}')"><span>会员注册</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.login') }}')"><span>会员登陆</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.personal_info') }}')"><span>会员中心</span></a>
        </ul>
    </div>
</div>
<div class="content">
    <div class="left">
        <table style="width: 100%">
            <tr>
                <td><a href="{{ url_for('web.personal_info') }}"><span>我的信息</span></a></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('web.my_order') }}"><span>我的订单</span></a></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('web.logout') }}"><span>退出登录</span></a></td>
            </tr>
        </table>
    </div>
    <div class="right">
        <table style="margin: 10px;color: #E5E5E5;width: 60%">
            <tr style="height: 30px">
                <td>order_id</td>
                <td>order_time</td>
                <td>ticket_type</td>
                <td>route</td>
                <td>depart_time</td>
                <td>status</td>
            </tr>

            {% for item in my_order %}
                <tr style="height: 30px">
                <td>{{ item.order_id }}</td>
                <td>{{ item.order_time }}</td>
                <td>{{ item.ticket_type }}</td>
                <td>{{ item.route }}</td>
                 <td>{{ item.depart_time }}</td>
                 <td>{{ item.status }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    function AdminSignIn() {
	    window.location.replace('{{ url_for('admin.login') }}');

    }
</script>
</body>
</html>