<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchResult</title>
    <link rel="stylesheet" href="../../static/style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>
  <div class="admin">
    <div class="sap_table">
        <div class="admin-table">
            <div class="admin-table-list">
                <a class="admin-table-item" onclick="AdminSignIn()"><span>管理员登录</span></a>
            </div>
        </div>
    </div>
 </div>
 <h1>航空订票系统</h1>
	<div class="main-agileinfo">
		<div class="sap_tabs">
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
                    <a class="resp-tab-item" onclick="window.location.replace('web/index.html')"><span>网站首页</span></a>
                    <a class="resp-tab-item" onclick="window.location.replace('web/TicketSearch.html')"><span>机票查询</span></a>
                    <a class="resp-tab-item" onclick="window.location.replace('web/Signup.html')"><span>会员注册</span></a>
                    <a class="resp-tab-item" onclick="window.location.replace('web/VIPSignIn.html')"><span>会员登陆</span></a>
                    <a class="resp-tab-item" onclick="window.location.replace('web/VIPCenter.html')"><span>会员中心</span></a>
				</ul>
				<div class="clearfix"> </div>
                <div class="resp-tabs-container">admin/
                        <div class="SearchResultSearch">
                    <form method="post">
                        <div class="single_double">
                           {{searchform.single_double}}
                        </div>
                        <div class="infocities">
                            <h5>{{searchform.depart_city.label}}</h5>
                            {{searchform.depart_city}}
                            <h5>{{searchform.arrive_city.label}}</h5>
                            {{searchform.arrive_city}}
                        </div>
                        <div class="infodate">
                            <h5>{{searchform.depart_date.label}}</h5>
                            {{searchform.depart_date}}
                            <h5>{{searchform.return_date.label}}</h5>
                            {{searchform.return_date}}
                        </div>
                        <div class="infosubmit">
                            <input type="submit" value="搜索航班">
                        </div>
                    </form>
                </div>
                        <div class="SearchResultResults">
                    <table class="resulttables">
                        <tr class="airinfo">
                            <th>航班信息/机型</th>
                            <th>起降时间</th>
                            <th>起降机场</th>
                            <th>机票价格</th>
                            <th>起点终点</th>
                            <th>预订</th>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>


<script>
    function AdminSignIn() {
	    window.location.replace('admin/AdminSignIn.html');

    }
</script>


</body>
</html>