<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIPSignUp</title>
    <link rel="stylesheet" href="../../static/VIPstyle.css">
</head>
<body>
<div class="VIPhead">
    <h1>VIP用户注册</h1>
</div>
<div class="VIPheadtitle">
    <div class="menutap">
        <ul class="menulist">
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.index') }}')"><span>网站首页</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.search') }}')"><span>机票查询</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.register') }}')"><span>会员注册</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.login') }}')"><span>会员登陆</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.personal_info') }}')"><span>会员中心</span></a>
        </ul>
    </div>
</div>
<div class="content">
    <div class="signupform">
        <form action="{{ url_for('web.register') }}" method="post" style="text-align: center">
            <table style="margin: auto;width: 60%">
                <tr style="height: 30px">
                    <td>{{ form.nickname.label(style="width:100px") }}</td>
                    <td>{{ form.nickname(style="width:300px;height:20px") }}</td>
                </tr>
                <tr style="height: 30px">
                    <td>{{ form.password.label }}</td>
                    <td>{{ form.password(style="width:300px;height:20px") }}</td>
                </tr>
                <tr style="height: 30px">
                    <td>{{ form.repeat_password.label }}</td>
                    <td> {{ form.repeat_password(style="width:300px;height:20px") }}</td>
                </tr>
                <tr style="height: 30px">
                    <td>{{ form.name.label }}</td>
                    <td>{{ form.name(style="width:300px;height:20px") }}</td>
                </tr>
                <tr style="height: 30px">
                    <td>{{ form.id_card.label }}</td>
                    <td>{{ form.id_card(style="width:300px;height:20px") }}</td>
                </tr>
                <tr style="height: 30px">
                    <td>{{ form.phone_number.label }}</td>
                    <td>{{ form.phone_number(style="width:300px;height:20px") }}</td>
                </tr>
            </table>
{#            <div class="signupname">{{ form.nickname.label }}   {{ form.nickname }}</div>#}
{#            <div class="signuppwd">{{ form.password.label }}   {{ form.password }}</div>#}
{#            <div class="signuppwdrep">{{ form.repeat_password.label }}    {{ form.repeat_password }}</div>#}
{#            <div class="signupname">{{ form.name.label }}   {{ form.name }}</div>#}
{#            <div class="signupid">{{ form.id_card.label }}    {{ form.id_card }}</div>#}
{#            <div class="signupphone">{{ form.phone_number.label }}   {{ form.phone_number }}</div>#}
            <input type="submit" value="注册">
        </form>
    </div>
</div>
<script>
    function AdminSignIn() {
	    window.location.replace('{{ url_for('admin.login') }}');

    }
</script>
</body>
</html>