<!DOCTYPE html>
<html lang="en">
<head>
	<title>机票查询</title>
	<link rel="stylesheet" href="../../static/style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body style="-webkit-filter: brightness(0.7)">
<div id="head">
    <div class="head_title">
        <h1>FLAY</h1>
    </div>
    <div class="navigation">
        <div id="horizontalTab">
            <ul id="navigation_list">
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.index') }}')"><span>网站首页</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.search') }}')"><span>机票查询</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.register') }}')"><span>会员注册</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.login') }}')"><span>会员登陆</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.personal_info') }}')"><span>会员中心</span></a>
            </ul>
        </div>
    </div>
    <div class="admin">
        <div class="sap_table">
            <div class="admin-table">
                <div class="admin-table-list">
                    <a class="admin-table-item" onclick=AdminSignIn()><span>管理员登录</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="body_content">
    <div class="content_top"></div>
    <div class="content_left">
        <div class="search_form">

        </div>
    </div>
</div>
  <h1>机票查询</h1>
	<div class="main-agileinfo">
        <ul class="resp-tabs-list">
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.index') }}')"><span>网站首页</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.search') }}')"><span>机票查询</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.register') }}')"><span>会员注册</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.login') }}')"><span>会员登陆</span></a>
            <a class="menu-tab-item" onclick="window.location.replace('{{ url_for('web.personal_info') }}')"><span>会员中心</span></a>
        </ul>
        <div class="clearfix"> </div>
        <div class="resp-tabs-container">
            <div class="tab-1 resp-tab-content roundtrip">
                <form action="{{url_for('web.search')}}" method="post">
                    <div class="single_double">
                        <h3>{{ form.single_double.label }}</h3>
                        {{ form.single_double }}

                    </div>
                    <div class="from">
                        <h3>{{ form.depart_city.label}}</h3>
                        {{form.depart_city(style="width:200px")}}
                    </div>
                    <div class="to">
                        <h3>{{form.arrive_city.label}}</h3>
                        {{form.arrive_city(style="width:200px")}}
                    </div>
                    <div class="clear"></div>
                    <div class="date">
                        <div class="depart">
                            <h3>{{form.depart_date.label}}</h3>
                            {{form.depart_date(id="datepicker",onfocus="this.value = '';",onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}",required="",style="width:400px")}}
                            <input  id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                            <span class="checkbox1">
                                <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Flexible with date</label>
                            </span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <input type="submit" value="搜索航班">
                </form>
            </div>
        </div>

    </div>


<div class="bottom">
    <p>xxx公司机票预订系统</p>
    <p>版权所有@2019</p>
</div>
<script>
    function AdminSignIn() {
	    window.location.replace('AdminSignIn.html');

    }
</script>
</body>
</html>

{#        <div class="resp-tabs-container">#}
{#            <div class="SearchResultSearch">#}
{#                <form action="{{ url_for('web.search') }}" method="post" style="margin: auto">#}
{#                    <div class="single_double">#}
{#                        {{form.single_double}}#}
{#                    </div>#}
{#                    <div class="infocities">#}
{#                        <h5>{{form.depart_city.label}}</h5>#}
{#                        {{form.depart_city}}#}
{#                        <h5>{{form.arrive_city.label}}</h5>#}
{#                        {{form.arrive_city}}#}
{#                    </div>#}
{#                    <div class="infodate">#}
{#                        <h5>{{form.depart_date.label}}</h5>#}
{#                        {{form.depart_date}}#}
{#                        <h5>{{form.return_date.label}}</h5>#}
{#                        {{form.return_date}}#}
{#                    </div>#}
{#                    <div class="infosubmit">#}
{#                        <input type="submit" value="搜索航班">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}

