<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
{#    <link rel="stylesheet" href="../../static/VIPstyle.css">#}
    <link rel="stylesheet" href="../../static/web_style.css">
</head>
<body>

<div class="bcg" style="background: rgba(255,255,255,0.8);height: 800px">



<div id="head" style="color: black">
    <div class="head_title">
        <h1 style="color: #212121">用户中心</h1>
    </div>
    <div class="navigation">
        <div id="horizontalTab">
            <ul id="navigation_list">
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.index') }}')"><span>网站首页</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.search') }}')"><span>机票查询</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.register') }}')"><span>会员注册</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.login') }}')"><span>会员登陆</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.personal_info') }}')"><span>会员中心</span></a>
            </ul>
        </div>
    </div>
    <div class="admin">
        <div class="sap_table">
            <div class="admin-table">
                <div class="admin-table-list">
                    <a class="admin-table-item" onclick=AdminSignIn()><span>管理员登录</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<hr />

<div class="body_content">
    <div class="left" >
        <div class="left_table" style="border: 1px solid #000000">
            <div class="user_img">
                <img src="../../static/person_1.jpg">
            </div>
            <table style="margin: auto">
                <tr style="height: 30px">
                    <td style="color: #00bcd4"><a href="{{ url_for('web.personal_info') }}" style="color: #00bcd4"><span>我的信息</span></a></td>
                </tr>
                <tr style="height: 30px">
                    <td><a href="{{ url_for('web.my_order') }}" style="color: #00bcd4"><span>我的订单</span></a></td>
                </tr>
                <tr style="height: 30px">
                    <td><a href="{{ url_for('web.logout') }}" style="color: #00bcd4"><span>退出登录</span></a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="right" style="border: 1px solid #000000;height: 600px">
        <h3 style="font-size: 1em;margin-left: 20px;color:yellowgreen">我的信息</h3>
        <div class="signupform">
            <form action="{{ url_for('web.personal_info') }}" method="post" style="margin: 10px">
                <table style="margin: 10px">
                    <tr style="height: 30px;text-align: center">
                        <td style="color: #212121">{{ form.nickname.label }}</td>
                        <td>{{ form.nickname() }}</td>
                    </tr>
                    <tr style="height: 30px;text-align: center">
                        <td style="color: #212121">{{ form.password.label }}</td>
                        <td>{{ form.password() }}</td>
                    </tr>
                    <tr style="height: 30px;text-align: center">
                        <td style="color: #212121">{{ form.name.label }}</td>
                        <td>{{ form.name }}</td>
                    </tr>
                    <tr style="height: 30px;text-align: center">
                        <td style="color: #212121">{{ form.id_card.label }} </td>
                        <td>{{ form.id_card(id="signup_id") }}</td>
                    </tr>
                    <tr style="height: 30px;text-align: center">
                        <td style="color: #212121">{{ form.phone_number.label }}</td>
                        <td> {{ form.phone_number(id="phone_num") }}</td>
                    </tr>
                </table>
                <input type="submit" value="修改" style="margin-left: 100px " onclick="return check()">
            </form>
        </div>
        <div class="img">
            <img src="../../static/2.jpg">
        </div>
    </div>
    <div class="clear"></div>
</div>
    <div class="clear"></div>

</div>
<script>
    var aCity={11:"北京",12:"天津",13:"河北",14:"山西",15:"内蒙古",
            21:"辽宁",22:"吉林",23:"黑龙江",31:"上海",32:"江苏",33:"浙江",
            34:"安徽",35:"福建",36:"江西",37:"山东",41:"河南",42:"湖北",
            43:"湖南",44:"广东",45:"广西",46:"海南",50:"重庆",51:"四川"
            ,52:"贵州",53:"云南",54:"西藏",61:"陕西",62:"甘肃",63:"青海",
            64:"宁夏",65:"新疆",71:"台湾",81:"香港",82:"澳门",91:"国外"}
    function AdminSignIn() {
	    window.location.replace('{{ url_for('admin.login') }}');

    }
    function check_phone() {
        var phone = document.getElementById('phone_num').value;
        var re;
        re = /^(1[358][0-9]{9})$/;
        if(re.test(phone)==false){
            alert('请输入正确的电话号码')
            return false;
        }
        return true;
    }
    function check() {
        var sId=document.getElementById('signup_id').value;
        var iSum=0 ;
{#        var pwd=document.getElementById('pwd').value;#}
{#        var npwd = document.getElementById('npwd').value;#}
{##}
{#        if(pwd!=npwd){#}
{#            alert('请输入一致的密码')#}
{#            return false;#}
{#        }#}
        if(!check_phone()){
            return false;
        }
        if(!/^\d{17}(\d|x)$/i.test(sId)){
            alert('你输入的身份证长度或格式错误1');
            return false;
        }
        sId=sId.replace(/x$/i,"a");
        if(aCity[parseInt(sId.substr(0,2))]==null){
            alert('你输入的身份证长度或格式错误2');
            return false;
        }
        sBirthday=sId.substr(6,4)+"-"+Number(sId.substr(10,2))+"-"+Number(sId.substr(12,2));
        var d=new Date(sBirthday.replace(/-/g,"/")) ;
        if(sBirthday!=(d.getFullYear()+"-"+ (d.getMonth()+1) + "-" + d.getDate())){
            alert('你输入的身份证长度或格式错误3');
            return false;
        }
        for(var i = 17;i>=0;i --) iSum += (Math.pow(2,i) % 11) * parseInt(sId.charAt(17 - i),11) ;
        if(iSum%11!=1){
            alert('你输入的身份证长度或格式错误4');
            return false;
        }
        //aCity[parseInt(sId.substr(0,2))]+","+sBirthday+","+(sId.substr(16,1)%2?"男":"女");//此次还可以判断出输入的身份证号的人性别
        return true;

    }
</script>
</body>
</html>