<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <!--<link rel="stylesheet" href="../../static/style.css">-->
{#    <link rel="stylesheet" href="../../static/admin_style.css">#}
    <link rel="stylesheet" href="../../static/web_style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body  style="background: url('../../static/3.jpg')">

<div style="background: rgba(255,255,255,0.5);width: 100%;margin: 0">

<div id="head" style="color: black">
    <div class="head_title">
        <h1 style="color: #212121">FLAY</h1>
    </div>
    <div class="navigation">
        <div id="horizontalTab">
            <ul id="navigation_list">
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.index') }}')"><span>网站首页</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.search') }}')"><span>机票查询</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.register') }}')"><span>会员注册</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.login') }}')"><span>会员登陆</span></a>
                <a class="navigation-item" onclick="window.location.replace('{{ url_for('web.personal_info') }}')"><span>会员中心</span></a>
            </ul>
        </div>
    </div>
    <div class="admin">
        <div class="sap_table">
            <div class="admin-table">
                <div class="admin-table-list">
                    <a class="admin-table-item" onclick=AdminSignIn()><span>管理员登录</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<hr />
</div>
<div class="body_content" >
{#    <div class="content_top"style="width: 100%">#}
{#        <div class="top_img" style="width: 100%;position: absolute">#}
{#            <img src="../../static/6.PNG">#}
{#        </div>#}
{#    </div>#}
    <div class="title">
        <h1 style="color:#363636;font-size: 2.1em">用户登录</h1>
    </div>
    <div class="singin_local">
        <div class="signin_form">
            <form class="vipsign" action="{{ url_for('web.login',next=request.args.next)  }}" method="post">
                        <table style="width: 100%">
                            <tr style="height: 30px">
                                <td style="color:#363636">{{ form.nickname.label }}</td>  <td>{{ form.nickname }}</td>
                            </tr>
                            <tr style="height: 30px">
                                 <td style="color: #363636">{{ form.password.label }}</td>  <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        <input type="submit" value="登录" style="margin-left: 25%">
                    </form>
        </div>
    </div>
</div>


	<div class="main-agileinfo">
		<div class="sap_tabs">
			<div id="horizontalTab">
				<div class="clearfix"> </div>
                <div class="signinform">

                </div>

            </div>
        </div>
    </div>


</div>
<script>
    function AdminSignIn() {
	    window.location.replace('{{ url_for('admin.login') }}');

    }
</script>

</body>
</html>