<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
    <!--<link rel="stylesheet" href="../../static/style.css">-->
    <link rel="stylesheet" href="../../static/admin_style.css">
</head>
<body>

  <div class="admin">
    <div class="sap_table">
        <div class="admin-table">
            <div class="admin-table-list">
                <!--<a class="admin-table-item" onclick="AdminSignIn()"><span>管理员登录</span></a>-->
            </div>
        </div>
    </div>
 </div>

  <h1>管理员登录</h1>
	<div class="main-agileinfo">
		<div class="sap_tabs">
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
                    <a class="resp-tab-item" onclick="window.location.replace('../web/index.html')"><span>网站首页</span></a>
                    <a class="resp-tab-item" onclick="window.location.replace('../web/TicketSearch.html')"><span>机票查询</span></a>
                    <a class="resp-tab-item" onclick="window.location.replace('../web/SignUp.html')"><span>会员注册</span></a>
                    <a class="resp-tab-item" onclick="window.location.replace('../web/VIPSignIn.html')"><span>会员登陆</span></a>
                    <a class="resp-tab-item" onclick="window.location.replace('../web/VIPInfo.html')"><span>会员中心</span></a>
				</ul>
				<div class="clearfix"> </div>
                <div class="signinform">
                    <form class="vipsign" action="{{ url_for('web.login') }}" method="post">
                        <table>
                            <tr>
                                <td>{{ form.nickname.label }}</td>  <td>{{ form.nickname }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label }}</td>  <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        <input type="submit" value="登录">
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>