html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;margin:0px;padding:0px;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	/* start editing from here */
	a{text-decoration:none;}
	.txt-rt{text-align:right;}/* text align right */
	.txt-lt{text-align:left;}/* text align left */
	.txt-center{text-align:center;}/* text align center */
	.float-rt{float:right;}/* float right */
	.float-lt{float:left;}/* float left */
	.clear{clear:both;}/* clear float */
	.pos-relative{position:relative;}/* Position Relative */
	.pos-absolute{position:absolute;}/* Position Absolute */
	.vertical-base{vertical-align:baseline;}/* vertical align baseline */
	.vertical-top{vertical-align:top;}/* vertical align top */
	nav.vertical ul li{display:block;}/* vertical menu */
	nav.horizontal ul li{display: inline-block;}/* horizontal menu */
	img{max-width:100%;}


body {
	background:url('1.jpg') no-repeat 0px 0px;
    /*background: #aaaaaa;*/
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
    background-position: center;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;

}

.head{
	margin:0px 0px;
	width:100%;
	height: auto;
    /*margin-top: 0px;*/
	/*background: rgba(10,100,200,.5);*/
    background: rgba(105,125,140,0.7);
}
.url{
    text-align: center;
}
.head_label{
	margin: 0px;
	width: 100%;
	height: 80px;
}
.left{
	margin: 0px;
	width: 13%;
	height: 800px;
	float: left;
    background: rgba(30, 30, 30, 1);
}
.right{
	margin-right: 0px;
	width: 87%;
	height: 1000px;
	float: right;
    background: rgba(220, 220, 220, 0.8);

}
.admin_add_update{
    width: 70%;
    margin: 10px;
}
.admin_manage_item, .business_menu_item{
    font-size: 0.9em;
    font-weight: 200;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: left;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.2em 0;
	color:#6A67CE;
	padding:7px 15px;
}

h3 {
    font-size: 16px;
    color:#FFC107;
    margin-bottom: 7px;
}
.right_title{
	text-align: center;
}
.changeform{
	text-align: center;
}


.admin{
	margin: 30px auto;
	margin-top:10px;
}
.admin-table-list{
	list-style: none;
    padding: 15px 0px;
    margin: 0 auto;
    text-align: right;
}
.admin-table-item{
	font-size: 1.1em;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.2em 0;
	color:#b1b1b1;
	padding:7px 15px;

}
h1{
	color:#fff;
	font-size:50px;
	margin-top:10px;
	text-align:center;
}
.main-agileinfo{
	margin:50px auto;
	width:70%;
}


.resp-tabs-list {
    list-style: none;
    padding: 15px 0px;
    margin: 0 auto;
    text-align: center;
	background: #FFC107;
}
.resp-tab-item {
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.2em 0;
	color:#b1b1b1;
	padding:7px 15px;
}

.resp-tab-active {
	color:#fff;
}
.resp-tabs-container {
	background: rgba(3, 3, 3, 0.57);
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
form {
    padding: 25px;
}
h3 {
    font-size: 16px;
    color:#FFC107;
    margin-bottom: 7px;
}
h2{
    font-size: 25px;
    color:#cd0a0a;
    margin-bottom: 7px;
}
.from,.to,.date,.depart,.return{
	width:48%;
	float:left;
}
.from,.to,.date{
	margin-bottom:40px;
}
.from,.date,.depart{
	margin-right:4%;
}
.signinform{
	background: rgba(3, 3, 3, 0.57);
	padding: 0px;
	text-align: center;
}
.adminsign{
    font-size: 12px;
    margin: 0 auto
}
.vipsign table{
    margin: 0 auto
}

input[type="submit"] {
    font-size: 14px;
    color: #000000;
    background:#ffc107;
    border: none;
    outline: none;
    padding: 10px 15px;
    margin-top: 50px;
	cursor:pointer;
	 transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.signin2signup{
    font-size: 14px;
    color: #fff;
    background:#ffc107;
    border: none;
    outline: none;
    padding: 10px 15px;
    margin-top: 50px;
	cursor:pointer;
	 transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}