
body{
    background: url('1.jpg') no-repeat 0px 0px;
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
    background-position: center;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
h1{
	color:#fff;
	font-size:20px;
	margin-top:10px;
	text-align:center;
}
#head{
    color:white;
    text-align:center;
    padding:5px;
    margin-top: 0px;
    height: 60px;
}
.head_title{
    width: 30%;
    margin: auto;
    display: inline-block;
    text-align: left;
    float: left;
}
.navigation{
    width: 60%;
    display: inline-block;
    float: left;
}
.navigation_list{
    list-style: none;
    text-align: center;
    cursor: pointer;
}
.navigation-item{
    font-size: 0.9em;
    font-weight: 100;
    text-align: center;
    margin-left: 20px;
     -moz-transition: all 0.4s;
    cursor: pointer;
}
.navigation-item:hover{
    font-size: 1.1em;
    font-weight: 800;
}
.admin{
    display: inline-block;
    text-align: right;
    width: 10%;
}
.admin-table-list{
	list-style: none;
    padding: 10px 10px;
    margin: 0 auto;
    text-align: center;
}
.admin-table-item{
	font-size: 0.8em;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
}
.admin-table-item:hover{
    font-size: 1em;
    -moz-transition: 0.8s;
}
.clear{
    clear:both;
}
.content_left{
    width: 38%;
    height: auto;
    float: left;
}
.img_window{
    margin-left: 100px;
    margin-top: 100px;
    width: 90%;
}
img{
    max-width: 100%;
    height: 100%;
}
.search_form{
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    color: #999999;
    background:rgba(255,255,255,0.7);;
}
.content_right{
    float: right;
    width: 35%;
    color: #b1b1b1;
}
.content_form{
    margin-top: 100px;
    margin-right: 100px;
    width: 80%;
    background:rgba(255,255,255,0.7);
}
.from{
    float: left;
    width: 40%;
    color: #b1b1b1;
    margin-left: 20px;
}
.input_from_city{
    width: 150px;
    height: 30px;
    color: #b1b1b1;

}
.to{
    float: right;
    width: 40%;

}
.search_to{
    margin-left: 20px;
    margin-top: 10px;
}
.input_to_city{
    width: 150px;
    height: 30px;
    color: #b1b1b1;

}
.date{
    float: left;
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
}
.depart_time{
    width: 300px;
    height: 30px;
    color: #b1b1b1;
}
.single_double{
    float: left;
    width: 35%;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
}
.index_form_submit{
    margin-top: 30px;
    margin-right: 30%;
    float: right;
}
input[type="submit"]{
    background: rgb(62, 255, 66);
    font-size: 14px;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-top: 20px;
	cursor:pointer;
	 transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
input[type="submit"]:hover  {
    background: #65d6ff;
	color:#fff;
}
.bottom{
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 0.8em;
    text-align: center;
    color: #999999;
}
.right{
    width: 80%;
    float: right;
}
.left{
    width: 15%;
    height: auto;
    float: left;
}
.search_result{
    color: black;
    background: rgba(200,200,200,0.8);
    height: 600px;
    overflow: auto;
}
.bcg{
    background: rgba(20,20,20,0.2);
}
.body_content{
    height: 90%;
}
.title{
    height: 50px;
    margin-top: 20px;
}
.singin_local{
    /*background: rgba(250,250,220,0.9);*/
    width: 30%;
    height: 200px;
    margin-left: 35%;
    margin-top: 0px;
}
.signin_form{
    margin-top: 10%;
    margin-left: 22%;
}
.top_img{
    width: 100%;
    height: 100px;
}
.left_table{
    float: right;
    width: 60%;
    background: #b1b1b1;
    height: 600px;
}
.user_img{
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10%;
}
.signupform{
    margin-left: 20px;
    margin-top: 10px;
    width: 30%;
    display: inline-block;
}
.img{
    margin-right: 50px;
    margin-top: 10px;
    width: 40%;
    height: 300px;
    float: right;
    display: inline-block;
}
.order_form{
    margin-top: 100px;
    margin-right: 100px;

}