<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/admin_style.css">
    <title>添加机票</title>
</head>
<body>
<div class="head">
    <h1>后台管理</h1>
    <div class="url">
        <ul class="menu">
            <a class="menu-item" href="{{url_for('web.index')}}"><span>网站首页</span></a>
            <a class="menu-item" href="{{ url_for('admin.login') }}"><span>退出登录</span></a>
        </ul>
    </div>
</div>
<div class="left">
    <div class="left-menu">
        <div class="h5head">
            <h5>管理菜单</h5>
        </div>
        <div class="admin_manage">
            <div class="h6head">
                <h6>管理员管理</h6>
            </div>
            <div class="admin_manage_content">
                <ul class="admin_manage_list">
                    <a class="admin_manage_item" href="{{ url_for('#') }}"><span>添加管理员</span></a>
                    <a class="admin_manege_item" href="{{ url_for('#') }}"><span>管理员管理</span></a>
                </ul>
            </div>
        </div>
        <div class="business_manage">
            <div class="h6head">
                <h6>机票管理</h6>
            </div>
            <div class="business_menu">
                <ul class="business_menu_list">
                    <a class="business_menu" href="{{ url_for('#') }}"><span>添加机票</span></a>
                    <a class="business_menu" href="{{ url_for('#') }}"><span>航空公司管理</span></a>
                    <a class="business_menu" href="{{ url_for('#') }}"><span>机票信息管理</span></a>
                    <a class="business_menu" href="{{ url_for('#') }}"><span>航班信息查询</span></a>
                    <a class="business_menu" href="{{ url_for('#') }}"><span>订票管理</span></a>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <div class="right_title">
        <h3>增添/修改机票</h3>
    </div>
    <div class="changeform">
        <form action="{{ url_for('admin.add_ticket') }}" method="post">
            <table>
                <tr>
                    <td>{{ form.single_double.label }}</td>
                    <td>{{ form.single_double }}</td>
                </tr>
                <tr>
                    <td>{{ form.name.label }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.company_name.label }}</td>
                    <td>{{ form.company_name }}</td>
                </tr>

                <tr>
                    <td>{{ form.depart_city.label }}</td>
                    <td>{{ form.depart_city }}</td>
                </tr>
                <tr>
                    <td>{{ form.arrive_city.label }}</td>
                    <td>{{ form.arrive_city }}</td>
                </tr>
                <tr>
                    <td>{{ form.depart_date.label }}</td>
                    <td>{{ form.depart_date }}</td>
                </tr>
                <tr>
                    <td>{{ form.depart_time.label }}</td>
                    <td>{{ form.depart_time }}</td>
                </tr>
                <tr>
                    <td>{{ form.arrive_date.label }}</td>
                    <td>{{ form.arrive_date }}</td>
                </tr>
                <tr>
                    <td>{{ form.arrive_time.label }}</td>
                    <td>{{ form.arrive_time }}</td>
                </tr>
                <tr>
                    <td>{{ form.return_date.label }}</td>
                    <td>{{ form.return_date }}</td>
                </tr>
                <tr>
                    <td>{{ form.return_time.label }}</td>
                    <td>{{ form.return_time }}</td>
                </tr>
                <tr>
                    <td>{{ form.first_class_price.label }}</td>
                    <td>{{ form.first_class_price }}</td>
                </tr>
                <tr>
                    <td>{{ form.second_class_price.label }}</td>
                    <td>{{ form.second_class_price }}</td>
                </tr>
                <tr>
                    <td>{{ form.third_class_price.label }}</td>
                    <td>{{ form.third_class_price }}</td>
                </tr>
                <tr>
                    <td>{{ form.first_class_num.label }}</td>
                    <td>{{ form.first_class_num }}</td>
                </tr>
                <tr>
                    <td>{{ form.second_class_num.label }}</td>
                    <td>{{ form.second_class_num }}</td>
                </tr>
                <tr>
                    <td>{{ form.third_class_num.label }}</td>
                    <td>{{ form.third_class_num }}</td>
                </tr>
                <tr>
                    <td>{{ form.depart_airport.label }}</td>
                    <td>{{ form.depart_airport }}</td>
                </tr>
                <tr>
                    <td>{{ form.arrive_airport.label }}</td>
                    <td>{{ form.arrive_airport }}</td>
                </tr>


            </table>
            <input type="submit" value="提交">
        </form>
    </div>
</div>
</body>
</html>
