<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/admin_style.css">
    <title>TitleAdd</title>
</head>
<body>
<div class="head">

</div>
<div class="head_label">
    This head label
</div>
<div class="left">
    This is left
</div>
<div class="right">
    <div class="right_title">
        <h3>增添/修改机票</h3>
    </div>
    <div class="changeform">
        <form action="#" method="post">
            <table>
                <tr>
                    <td>{{ form.single_double.label }}</td>
                    <td>{{ form.single_double }}</td>
                </tr>
                <tr>
                    <td>{{ form.name.label }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.company_name.label }}</td>
                    <td>{{ form.company_name }}</td>
                </tr>

                <tr>
                    <td>{{ form.depart_city.label }}</td>
                    <td>{{ form.depart_city }}</td>
                </tr>
                <tr>
                    <td>{{ form.arrive_city.label }}</td>
                    <td>{{ form.arrive_city }}</td>
                </tr>
                <tr>
                    <td>{{ form.depart_date.label }}</td>
                    <td>{{ form.depart_date }}</td>
                </tr>
                <tr>
                    <td>{{ form.depart_time.label }}</td>
                    <td>{{ form.depart_time }}</td>
                </tr>
                <tr>
                    <td>{{ form.arrive_date.label }}</td>
                    <td>{{ form.arrive_date }}</td>
                </tr>
                <tr>
                    <td>{{ form.arrive_time.label }}</td>
                    <td>{{ form.arrive_time }}</td>
                </tr>
                <tr>
                    <td>{{ form.return_date.label }}</td>
                    <td>{{ form.return_date }}</td>
                </tr>
                <tr>
                    <td>{{ form.return_time.label }}</td>
                    <td>{{ form.return_time }}</td>
                </tr>
                <tr>
                    <td>{{ form.first_class_price.label }}</td>
                    <td>{{ form.first_class_price }}</td>
                </tr>
                <tr>
                    <td>{{ form.second_class_price.label }}</td>
                    <td>{{ form.second_class_price }}</td>
                </tr>
                <tr>
                    <td>{{ form.third_class_price.label }}</td>
                    <td>{{ form.third_class_price }}</td>
                </tr>
                <tr>
                    <td>{{ form.first_class_num.label }}</td>
                    <td>{{ form.first_class_num }}</td>
                </tr>
                <tr>
                    <td>{{ form.second_class_num.label }}</td>
                    <td>{{ form.second_class_num }}</td>
                </tr>
                <tr>
                    <td>{{ form.third_class_num.label }}</td>
                    <td>{{ form.third_class_num }}</td>
                </tr>
                <tr>
                    <td>{{ form.depart_airport.label }}</td>
                    <td>{{ form.depart_airport }}</td>
                </tr>
                <tr>
                    <td>{{ form.arrive_airport.label }}</td>
                    <td>{{ form.arrive_airport }}</td>
                </tr>


            </table>
            <input type="submit" value="提交">
        </form>
    </div>
</div>
</body>
</html>
